@font-face{
    font-family: Hello;
    src: url("../Lovers/Heading-Pro-Wide-Heavy-Italic-trial.ttf");
}

@font-face {
    font-family: Gotham;
    src: url("../Lovers/Gotham-Font/GothamBold.ttf");
}

@font-face {
    font-family: Milk;
    src: url("../Lovers/White\ Milk.otf");
}


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0 auto;
    font-family: Hello;
   width:100%;

    background: black;

}


.welcome {
    display: flex;
    margin: 0 auto;
    position: relative; 
    justify-content: center;
    align-items: center;
   overflow: hidden;
    width: 100%;
    background: black;
    animation: in 1s ease forwards;
}

@keyframes in {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.welcome button{
    position: absolute;
    margin-left: 50px;
    margin-bottom: -50px;
  background: #5E5DF0;
  border-radius: 999px;
  box-shadow: #5E5DF0 0 10px 20px -10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Gotham;
  font-size: 30px;
  font-weight: 0;
  line-height: 40px;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 250px;
  word-break: break-word;
  border: 0;
  display: inline-block;
}

li{
    list-style: none;
}

.welcome .content-wrap .flyText{
    display: flex;
    gap: 10px;
    color: white;
    font-size: 50px;
    font-family: Hello;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.welcome .content-wrap .flyText li:first-child{
    animation: slide 0.75s ease forwards;
}

.welcome .content-wrap .flyText li:last-child{
    animation: slide2 0.75s ease forwards;
}

@keyframes slide {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes slide2 {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}

.welcome button {
 animation: hehe 1.5s ease forwards;
}

@keyframes hehe {
    0%{
       transform: translateY(30px);
       opacity: 0;
    }

    50%{
        opacity: 0;
    }
    100%{
        transform: translateY(0);
        opacity: 100%;
    }
}

.content-wrap{
    margin: 0 auto;
    display: flex;
    justify-content:center ;
    align-items: center;
    
    width: 100%;
    height: 100vh;
}

.content-wrap button{
    margin-top: 100px;
}

.welcome.active{
   
    animation:  disable 2s ease forwards;
}

.content-wrap.active{
    margin: 0 auto;
    display: flex;
    justify-content:center ;
    align-items: center;
    width: 100%;
    height: 100%;
    animation: faders 1s ease forwards;
}

@keyframes faders {
    from{

    height: 100%;
    opacity: 1;
    }
    to{
 
    height: 0%;
    opacity: 0;
    }
}

@keyframes disable {
    0%{
        display: block;
        opacity: 1;
        height: 200vh;

    }

    50%{
        display: block;
        opacity: 1;
        height: 200vh; 

    }
 
    100%{
        background: transparent;
        display: none;
        overflow: hidden;
       height: 0;
        border: none;
        opacity: 0;

    }
}
@keyframes fade {
    0%{
       opacity: 1;
       display: block;
      
    }
    100%{
        opacity: 0; /* Fade out */
    transform: translate3d(-30px, 300px, 30px) scale(3); /* Move up and scale */
    background: transparent;
    display: none;
  
    }
}


.welcome button.active {
    position: absolute;

    animation: fade-out 1s ease forwards;
}

@keyframes fade-out {
    from{
        opacity: 1;
    }
    to{
        opacity: 0; /* Fade out */
        transform: translateY(-30px) scale(3); /* Move up and scale */
        background: transparent;
        display: none;
    }
}




/* For Main Message */
.main{
    display: none;
    resize: none;
    width: 100%;
    margin: 0 auto;
    
}

.mainBG{
    background: #f9f9f3;
    width: 100%;
   
    overflow: hidden;
}

.main.activate{
    display: block;
}

.rew{
    position: fixed;
    z-index: 2;
    background: #111;
    left: 0;
    width: 100%;
    padding: 20px 0px;
    display: flex;
    justify-content: space-around;
    
}

.rew h1{
    height: 10px;
    font-size: 25px;
    margin-top: -0.5px;
    font-family: Gotham;
    color: white;
}


.rewind {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  font-family: Gotham;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.rewind:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.rewind:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.image-container > img{
    height: auto;
    width: 100%;    
    position: fixed;
    z-index: 0;
    margin-top: 60px;
}  

.outer {
    width: 100%; 
    height: 500px; 
    overflow: hidden;
    margin: 0 auto;
    
}

.inner {
    width: 110%; 
    height: 500px; 
    margin-top: -40%;
    margin-left: -5%;
    border-radius: 50%; 
    transform: translate(-0%, 0); 
    box-shadow: 0 0 0 500px #FFE4C9; 
}

.message{
    display:  block;
    content: "";
    height: 4000px;
    background:#ffe4c9;
    position: relative;
    padding: 50px;
    top: 81vh;
    font-family: Milk;
    text-align: center;
    font-size: 25px;
}

.titleHappy, .titleHappy2, .titleHappy3, .titleHappy4{
    font-size: 50px;
    font-weight: bold;
    font-family: Milk;
    font-style: italic;
    text-align: center;
    margin: 0 auto;
}

.titleHappy.visible{
    text-align: center;
    animation: slideUp 2s ease forwards;
}

.titleHappy2.visible{
    animation: slideLeft 2s ease forwards;
}

.titleHappy3.visible{
    animation: slideRight 2s ease forwards;
}

.titleHappy4.visible{
    animation: slideDown 2s ease forwards;
}

#typing-effect{
    font-size: 50px;
    font-weight: bold;
    font-family: Gotham;
    font-style: italic;
    margin-top: 100px;
}


@keyframes slideUp {
    from{
        transform: translateY(-30px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideDown {
    from{
        transform: translateY(30px);
        opacity: 0;
    }
    to{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideRight {
    from{
        transform: translateX(30px);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    from{
        transform: translateX(-30px);
        opacity: 0;
    }
    to{
        transform: translateX(0px);
        opacity: 1;
    }
}
.picsHar{
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
}

.picsHar img{
    width: 400px;
    margin-top: 10%;
    height: auto;
}

.animate-me {
    opacity: 0;
    transition: opacity 1s ease;
    width: 300px; /* Adjust size as needed */
  }
  
  .animate-me.visible {
    opacity: 1;
  }

  .animate-meTwo {
    opacity: 0;
    transition: opacity 1s ease;
    width: 300px; /* Adjust size as needed */
  }
  
  .animate-meTwo.visible {
    opacity: 1;
  }
  
  @keyframes animation1 {
    0% { transform: translateX(-100px) rotate(-45deg); }
    100% { transform: translateX(70px) rotate(-10deg); }
  }
  
  .animation1.visible {
    animation: animation1 2s ease forwards;
  }
  
  @keyframes animation2 {
    0% { transform: translateX(100px) translateY(100px) rotate(45deg); }
    100% { transform: translateX(-100px) translateY(100px) rotate(10deg); }
  }
  
  .animation2.visible {
    animation: animation2 2s ease forwards;
  }


  @media only screen and (max-width: 500px) {
    
.welcome .content-wrap .flyText{
    display: flex;
    gap: 10px;
    color: white;
    font-size: 50px;
    font-family: Hello;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
  }


@media (max-height: 700px){
    .message{
        transform: translateY(20vh);
    }
}


@media (max-height: 550px){
    .message{
        transform: translateY(30vh);
    }
}


@media screen and (max-width: 1450px){
    .message{
        top: 70vh;
    }
}

@media screen and (max-width: 1235px){
    .message{
        top: 60vh;
    }
}

@media screen and (max-width: 1055px){
    .message{
        top: 50vh;
    }
}

@media screen and (max-width: 851px){
    .message{
        top: 40vh;
    }
}

@media screen and (max-width: 656px){
    .message{
        top: 30vh;
    }

}

@media screen and (max-width: 580px){
  
    .image-container img{
        margin-top: 100px;
    }

    .rew{
        height: 70px;
        padding: 20px;
    }

    .rew h1{
        margin-top: 16.5px;
        margin-right: 50px;
    }


    
.rewind {
    padding: 0.6em 2em;
    border: none;
    outline: none;
    font-family: Gotham;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    font-size: 18px;
    width: 200px;
    height: 75px;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .rewind:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .rewind:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
  }

  .message{
    top: 35vh;
    height: 4000px;
  }

  #typing-effect{
    font-size: 34px;
    margin-top: 20px;
  }

  .picsHar{
    flex-direction: column;
    justify-content: center;
  }

  .picsHar li:last-child{
    margin-top: -300px;
  }
  @keyframes animation1 {
    0% { transform: translateX(-100px) rotate(-45deg); }
    100% { transform: translateX(30px) rotate(-10deg); }
  }
  @keyframes animation2 {
    0% { transform: translateX(100px) translateY(100px) rotate(45deg); }
    100% { transform: translateX(-10px) translateY(100px) rotate(10deg); }
  }
}

@media screen and (max-width: 510px) {
    .message{
        top: 30vh;
      }
    
      .picsHar{
        flex-direction: column;
        justify-content: center;
      }
    
      .picsHar li:last-child{
        margin-top: -300px;
      }
      @keyframes animation1 {
        0% { transform: translateX(-100px) rotate(-45deg); }
        100% { transform: translateX(-10px) rotate(-10deg); }
      }
      @keyframes animation2 {
        0% { transform: translateX(100px) translateY(100px) rotate(45deg); }
        100% { transform: translateX(10px) translateY(100px) rotate(10deg); }
      }
    }

    @media screen and (max-width: 470px) {
        .message{
            top: 30vh;
          }
        
          .picsHar{
            flex-direction: column;
            justify-content: center;
          }
        
          .picsHar li:last-child{
            margin-top: -300px;
          }
          @keyframes animation1 {
            0% { transform: translateX(-100px) rotate(-45deg); }
            100% { transform: translateX(-30px) rotate(-10deg); }
          }
          @keyframes animation2 {
            0% { transform: translateX(100px) translateY(100px) rotate(45deg); }
            100% { transform: translateX(-30px) translateY(100px) rotate(10deg); }
          }
        }

            @media screen and (max-width: 470px) {
        .message{
            top: 30vh;
          }
        
          .picsHar{
            flex-direction: column;
            justify-content: center;
          }
        
          .picsHar li:last-child{
            margin-top: -300px;
          }
          @keyframes animation1 {
            0% { transform: translateX(-100px) rotate(-45deg); }
            100% { transform: translateX(-30px) rotate(-10deg); }
          }
          @keyframes animation2 {
            0% { transform: translateX(100px) translateY(100px) rotate(45deg); }
            100% { transform: translateX(-30px) translateY(100px) rotate(10deg); }
          }
        }
    @media screen and (max-width: 470px) {
        .message{
            top: 30vh;
          }
        
          .picsHar{
            flex-direction: column;
            justify-content: center;
          }
        
          .picsHar li:last-child{
            margin-top: -300px;
          }
          @keyframes animation1 {
            0% { transform: translateX(-100px) rotate(-45deg); }
            100% { transform: translateX(-30px) rotate(-10deg); }
          }
          @keyframes animation2 {
            0% { transform: translateX(100px) translateY(100px) rotate(45deg); }
            100% { transform: translateX(-30px) translateY(100px) rotate(10deg); }
          }
        }

        @media screen and (max-width: 440px) {
            .message{
                top: 30vh;
              }
            
              .picsHar{
                flex-direction: column;
                justify-content: center;
              }
            
              .picsHar li:last-child{
                margin-top: -300px;
              }
              @keyframes animation1 {
                0% { transform: translateX(-100px) rotate(-45deg); }
                100% { transform: translateX(-60px) rotate(-10deg); }
              }
              @keyframes animation2 {
                0% { transform: translateX(100px) translateY(100px) rotate(45deg); }
                100% { transform: translateX(-60px) translateY(100px) rotate(10deg); }
              }
            }
            @media screen and (max-width: 380px) {
                .message{
                    top: 26vh;
                  }
                
                  .picsHar{
                    flex-direction: column;
                    justify-content: center;
                  }
                
                  .picsHar li:last-child{
                    margin-top: -300px;
                  }
                  @keyframes animation1 {
                    0% { transform: translateX(-100px) rotate(-45deg); }
                    100% { transform: translateX(-90px) rotate(-10deg); }
                  }
                  @keyframes animation2 {
                    0% { transform: translateX(100px) translateY(100px) rotate(45deg); }
                    100% { transform: translateX(-90px) translateY(100px) rotate(10deg); }
                  }
                  .welcome .content-wrap .flyText{
                    display: flex;
                    gap: 10px;
                    color: white;
                    font-size: 40px;
                    font-family: Hello;
                    text-align: center;
                    justify-content: center;
                    align-items: center;
                    margin: 0 auto;
                }
                }

                @media screen and (max-width: 364px) {
                  .content-wrap{
                    margin-left: -25px;
                  }
                  .message{
                      top: 16vh;
                      height: 3300px;
                    }
                  
                    .rew{
                      height: 50px;
                    }
                    .rewind{
                      font-size: 13px;
                      width: 150px;
                      height: 50px;
                    }

                    .image-container > img{
                      margin-top: 55px;
                    }

                    #typing-effect{
                      font-size: 25px;
                    }
                    .titleHappy, .titleHappy2, .titleHappy3, .titleHappy4{
                      font-size: 30px;
                      font-weight: bold;
                      font-family: Milk;
                      font-style: italic;
                      text-align: center;
                      margin: 0 auto;
                      margin-left: -30px;
                  }
                    .picsHar{
                      flex-direction: column;
                      justify-content: center;
                    }
                  
                    .picsHar li:last-child{
                      margin-top: -300px;
                    }
                    @keyframes animation1 {
                      0% { transform: translateX(-100px) rotate(-45deg); }
                      100% { transform: translateX(-110px) rotate(-10deg); }
                    }
                    @keyframes animation2 {
                      0% { transform: translateX(100px) translateY(100px) rotate(45deg); }
                      100% { transform: translateX(-110px) translateY(100px) rotate(10deg); }
                    }
                    .welcome .content-wrap .flyText{
                      display: flex;
                      gap: 10px;
                      color: white;
                      font-size: 40px;
                      font-family: Hello;
                      text-align: center;
                      justify-content: center;
                      align-items: center;
                      margin: 0 auto;
                  }
                  }
  
                  @media screen and (max-width: 325px) {
                    .content-wrap{
                      margin-left: -30px;
                    }
                    
                    .message{
                        top: 13vh;
                        height: 3300px;
                      }
                    
                      .rew{
                        height: 50px;
                      }
                      .rewind{
                        font-size: 13px;
                        width: 150px;
                        height: 50px;
                      }
  
                      .image-container > img{
                        margin-top: 55px;
                      }
  
                      #typing-effect{
                        font-size: 25px;
                      }
                      .titleHappy, .titleHappy2, .titleHappy3, .titleHappy4{
                        font-size: 30px;
                        font-weight: bold;
                        font-family: Milk;
                        font-style: italic;
                        text-align: center;
                        margin: 0 auto;
                        margin-left: -30px;
                    }
                      .picsHar{
                        flex-direction: column;
                        justify-content: center;
                      }
                    
                      .picsHar li:last-child{
                        margin-top: -300px;
                      }
                      @keyframes animation1 {
                        0% { transform: translateX(-100px) rotate(-45deg); }
                        100% { transform: translateX(-120px) rotate(-10deg); }
                      }
                      @keyframes animation2 {
                        0% { transform: translateX(100px) translateY(100px) rotate(45deg); }
                        100% { transform: translateX(-120px) translateY(100px) rotate(10deg); }
                      }
                      .welcome .content-wrap .flyText{
                        display: flex;
                        gap: 10px;
                        color: white;
                        font-size: 40px;
                        font-family: Hello;
                        text-align: center;
                        justify-content: center;
                        align-items: center;
                        margin: 0 auto;
                    }
                    }
    
    
